.root {
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
}
.label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-alignment: center;
    -fx-padding: 5px; /* Add padding to create space around label text */
}

#header {
    -fx-font-size: 30px; /* Rozmiar czcionki nagłówka */
    -fx-alignment: center; /* Wyśrodkowanie tekstu w nagłówku */
    -fx-font-weight: 20px;
}
#currentDayLabel {
    -fx-font-size: 22px; /* Rozmiar czcionki nagłówka */
    -fx-alignment: center; /* Wyśrodkowanie tekstu w nagłówku */
    -fx-font-weight: 20px;
}
.button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-margin: 20px;
}

.button:hover {
    -fx-background-color: #45a049;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.text-field {
    -fx-font-size: 14px;
    -fx-border-color: #9e9e9e;
    -fx-padding: 5px;
    -fx-margin: 5px; /* Add margin to separate text fields */
}

.grid-pane {
    -fx-background-color: #f5f5f5;
    -fx-border-color: black;
    -fx-border-width: 10px;
    -fx-border-radius: 10px;
    -fx-margin: 20px;
}

.grid-pane .label {
    -fx-background-color: #e0e0e0;
    -fx-padding: 0px;
    -fx-border-color: black;
    -fx-border-radius: 10px;
}

/* Styl dla komórek siatki mapy */
.map-grid-cell {
    -fx-background-color: #FFFFF0;
    -fx-alignment: center;
    -fx-border-color: black;
}

.plant-cell {
    -fx-background-color: green;
    -fx-border-color: black;
}
