* {
    -fx-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.root {
    -fx-background-color: #FFFFF0;
}

BorderPane {
    background-color: #f0f0f0;
    -fx-padding: 20;
}

.center {
    -fx-spacing: 15;
}

#contentArea {
    -fx-background-color: #e8eff7;
    -fx-border-color: #a3b1c6;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-padding: 20px;
    -fx-spacing: 10px;
    -fx-alignment: center;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 5);
    -fx-opacity: 0.95;
}

#startHeader, #infoConfigurator {
    -fx-font-size: 35px;
    -fx-text-fill: #2e3b4e;
    -fx-alignment: center;
    -fx-font-weight: bold;
}

#infoConfigurator {
    -fx-font-size: 25px;
}

Button, .button {
    -fx-background-color: #708090;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10 20;
    -fx-alignment: center;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

Button:hover, .button:hover {
    -fx-background-color: #b2c2d3;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}


Label {
    -fx-font-size: 14px;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

TextField, ChoiceBox {
    -fx-font-size: 14px;
    -fx-padding: 8;
    -fx-background-radius: 5;
    -fx-border-color: #a3b1c6;
    -fx-border-width: 1;
    -fx-background-color: #e8eff7;
}

Slider {
    -fx-pref-width: 500px;
    -fx-border-color: #a3b1c6;
    -fx-background-color: #333333;
    -fx-background-radius: 5;
    -fx-control-inner-background: #e8eff7;
    -fx-fill: #4CAF50;
    -fx-stroke: #333333;
    -fx-stroke-width: 1;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 5, 0.0, 0, 2);
}

.button {
    -fx-background-color: #333333;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

.button:hover {
    -fx-background-color: #2F4F4F;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-border-width: 10px;
}

.text-field {
    -fx-font-size: 14px;
    -fx-border-color: black;
    -fx-padding: 5px;
}

.slider {
    -fx-background-color: black;
}